#pocetna-slika {
  display: block;
  width: 100%;
  height: auto;
  margin: 12px;
}
#glavni {
  margin-top: 50px;
  font-size: 50px;
  animation: nisanje 1s infinite alternate;
  display: flex;
  justify-content: center;
}
@keyframes nisanje {
  0% {
    transfrom: translate(0);
  }
  100% {
    transform: translate(20px);
  }
}
.text {
  font-size: x-large;
  text-align: center;
}
container {
  max-width: 1224px;
  width: 92%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  #glavni {
    font-size: 30px;
    text-align: center;
  }

  .text {
    font-size: medium;
    justify-content: center;
  }

  .container {
    width: 100%;
  }
}
